*{
    box-sizing: border-box ;
}
.titleCont{
    display: flex;
    height: 50px;
    border: 1px solid #6B9080;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6B9080;
    border-bottom: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #CCE3DE;

}

.productCont{
    display: flex;
    border: 1px solid #6B9080;
    border-top: none;

}

.productInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6B9080;

}

.pdImg{
    height: 80px;
    width: 80px;
    box-shadow: 3px 2px #6B9080;
}

.pdSTT{
    width: 80px;
}

.pdName{
    width: 300px;
    padding: 10px;
}

.pdPrice{
    width: 150px;
}

.pdImgCont{
    width: 120px;
}

.pdDiscount{
    width: 150px;
}

.adjustQuantity{
    display: flex;
    margin-left: 10px;
    border: 0.5px solid grey;
    border-radius: 10%;
}

.option{
    font-size: 20px;
    height: 20px;
    width: 20px;
    border: 0.5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option:hover{
    background-color: black;
    color: white;
    opacity: 0.8;
}

.pdDetail{
    padding: 10px;
    font-size: 15px;
    width: 400px;
    overflow: hidden;
}

.pdAction{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bt {
    width: 60px;
    height: 40px;
    background-color: pink;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: 13px;
}

.edit{
    margin-bottom: 10px;
    color: white;
    background-color: green;
    font-weight: 700;
}

.remove{
    margin-bottom: 10px;
    color: white;
    background-color: red;
    font-weight: 700;
}