#btnBuy{
    width: 150px;
    height: 60px;
    background-color: #2aa22a;  
    font-size: 16px;
    color: white;
}


#flexiselDemo3> li{
    width: 200px !important;
 
}

li>img{
    width: 260px !important;
    height: 293px !important;
}

#flexiselDemo3 > .nbs-flexisel-item{
    line-height: normal;
}
.text2
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
.pdImg
{
    width: 500px !important;
    height: 500px !important;
    background-color: aqua;
}
.pdName
{
    padding-top: 20px;
    font-size: 28px;
    font-family: 'Domaine Display';
    font-weight: 600;
    margin: 0 0 0.15em;
    color: #555;
    text-rendering: optimizeLegibility;
}
.direct
{
    font-family: 'Gotham';
    font-size: 18px;
    display: inline-block;
    margin: 0;
    color: #00bfe3;
    text-transform: capitalize;
}
.detail
{
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
}
.rating_container
{

    padding-top: 20px;
}
.icon
{
    padding-left: 30px;
    display: flex;
    align-items: stretch;
}
.icon >img
{
    padding-left: 15px;
    
   
}
.pdPrice
{
    padding-top: 5px;
}
.btn_form
{
    padding-top: 5px
}
.icon >img:hover
{
   
    cursor: pointer;
    
}

.sameCategory
{
    width: 100%;
    position: relative;
    bottom: 150px;
}
.quanity
{
    color: red;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.reviews{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.nameUserReview{
    flex: 1;
    font-weight: bold;
}

.contentReview{
    flex: 3;
    display: flex;
    flex-direction: column;
    position: relative;
}

.comment{
    margin-top: 30px;
}
.rate {
    position: absolute;
    left: 0;
    top: -15px;
    float: left;
    height: 46px;
    margin-bottom: 20px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
