#btnBuy{
    width: 150px;
    height: 60px;
    background-color: #2aa22a;  
    font-size: 16px;
    color: white;
}


#flexiselDemo3> li{
    width: 200px !important;
}

li>img{
    width: 150px !important;
    height: 250px !important;
}

#flexiselDemo3 > .nbs-flexisel-item{
    line-height: normal;
}
.text2
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}